<mat-card id="card" class="cardContainer">
    <mat-card-title class="cardTitle">
        Add Comment
    </mat-card-title>
    <mat-card-content>
        <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
            <mat-form-field appearance="outline" class="full-width-field">
                <mat-label for="comment">Comment</mat-label>
                <textarea matInput name="comment" id="'comment" [(ngModel)]="model.comment" required
                    placeholder="Enter your comment"></textarea>
            </mat-form-field>

            <input type="file" class="file-input" (change)="aploadDocs($event)" #fileUpload>
            <div class="file-upload">
                <button type="button" mat-mini-fab color="primary" class="upload-btn mat-elevation-z0"
                    (click)="fileUpload.click()">
                    <mat-icon>attach_file</mat-icon>
                </button>
                {{photo || "No file uploaded yet."}}
            </div>

            <br>
            <button mat-raised-button class="btnColor" type="submit">Save</button>
            <button mat-raised-button type="button" class="btnColor" (click)="onClose()"> Cancel</button>
        </form>


    </mat-card-content>