.cardContainer {
    width: 100%;


    .cardTitle {
        font-size: 20px;
        color: #000000;
        font-weight: 500;
        margin: 20px 0px;
        text-align: center;
    }

    .full-width-field {
        width: 100%;

    }



    .btnColor {
        background-color: #02323c;
        color: white !important;
        border: #02323c;
        border-radius: 5px;
        margin: 20px 2%;
        width: 20%;
        padding: 10px 0;
        text-align: center;

    }



    .file-input {
        display: none;
    }
}