.sidebarContaint {
  background: #02323c;

}



mat-sidenav {
  border-right: none;
  //text-align: center;
  width: 180px;
  margin-top: 1px;
}

mat-sidenav-container {
  height: 92%;
}

.navbar-icon {
  padding-right: 5px;
}

.header {
  font-size: 16px;
  background: #02323c;
  color: #ffffff;
}

span {
  color: #ffffff;

  &:hover {
    color: #de5801;
  }

}

.active span {
  color: #de5801;
}