<mat-card id="card">
    <mat-card-content>
        <section>
            <span class="detailsContainer">{{data.name}} | {{data.id}}</span>
            <span class="example-button-row" style="float: right;">
                <button mat-raised-button class="saveBtn" *ngIf="showSaveButton "
                    (click)="saveTransaction()">Save</button>
                <button mat-raised-button *ngIf="showActivateButton" color="primary"
                    (click)="activateTransaction()">Activate</button>
                <button mat-raised-button color="accent" *ngIf="showReviseButton"
                    (click)="reviceTransaction()">Revise</button>
                <button mat-raised-button color="warn" *ngIf="showRetireButton"
                    (click)="retireTransaction()">Retire</button>
            </span>
        </section>
    </mat-card-content>
</mat-card>
<mat-card id="card1" class="mainCard">
    <mat-card-content>
        <form (ngSubmit)="onSubmit()" #heroForm="ngForm">

            <mat-grid-list cols="4" rowHeight="100px">

                <mat-grid-tile [colspan]="2">
                    <mat-form-field appearance="outline" class="full-width-field">
                        <mat-label for="id">Id</mat-label>
                        <input matInput name="id" id="'id" [(ngModel)]="data.id">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="2">
                    <mat-form-field appearance="outline" class="full-width-field">
                        <mat-label for="firstName">First Name</mat-label>
                        <input matInput name="firstName" id="'firstName" [(ngModel)]="data.firstName" required>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="2">
                    <mat-form-field appearance="outline" class="full-width-field">
                        <mat-label for="lastName">Last Name</mat-label>
                        <input matInput name="lastName" id="'lastName" [(ngModel)]="data.lastName" required>
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="2">
                    <mat-form-field appearance="outline" class="full-width-field">
                        <mat-label for="eMail">Email</mat-label>
                        <input matInput name="eMail" id="'eMail" [(ngModel)]="data.eMail">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2">
                    <mat-form-field appearance="outline" class="full-width-field">
                        <mat-label for="address">Address</mat-label>
                        <input matInput name="address" id="'address" [(ngModel)]="data.address">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2">
                    <mat-form-field appearance="outline" class="full-width-field">
                        <mat-label for="workPhone">Phone Number</mat-label>
                        <input matInput name="workPhone" id="'workPhone" [(ngModel)]="data.workPhone">
                    </mat-form-field>
                </mat-grid-tile>


            </mat-grid-list>
        </form>
    </mat-card-content>
</mat-card>