.mainCard {
    margin-top: 5px;
}

.full-width-field {
    width: 80%;
}

.saveBtn {
    background: #02323c !important;
    color: #ffffff !important;
}

button {
    margin: 5px;
    width: 100px;
}

.detailsContainer {
    margin: 5px;
    font-size: 16px;
    font-weight: 500;
}