<div class="example-button-row">
    <div class="example-flex-container">

        <mat-form-field appearance="outline" style="width: 500px;">
            <input matInput placeholder="Search .." (keyup)="applyFilter($event)" #input>
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>


        <div class="example-button-container">
            <button mat-fab class="backGround" (click)="addNewUser()">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>
</div>

<!-- <button mat-button color="primary" class="button" (click)="addNewUser()">Add User</button> -->



<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table">
    <ng-container sticky sticky matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!--  Name Column -->
    <ng-container sticky sticky matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name?element.name:"--"}} </td>
    </ng-container>



    <!-- email Column -->
    <ng-container sticky sticky matColumnDef="eMail">
        <th mat-header-cell *matHeaderCellDef> email </th>
        <td mat-cell *matCellDef="let element"> {{element.eMail?element.eMail:"--"}} </td>
    </ng-container>

    <!-- contact  Column -->
    <ng-container sticky sticky matColumnDef="workPhone">
        <th mat-header-cell *matHeaderCellDef> Contact No </th>
        <td mat-cell *matCellDef="let element"> {{element.workPhone?element.workPhone:"--"}} </td>
    </ng-container>

    <!-- Number Column -->
    <ng-container sticky sticky matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
    </ng-container>

    <ng-container sticky sticky matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element" class="action">
            <button mat-icon-button style="color: #02323c;" matTooltip="Edit Record" *ngIf="!hideEditIcon"
                (click)="editRecord('0ms', '0ms',element)">
                <mat-icon>edit</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="editContact(row)"></tr>
</table>

<mat-paginator [pageSizeOptions]="paginationOption" showFirstLastButtons aria-label="Select page of periodic elements">
</mat-paginator>